<launch>
    <!-- IMU Subscriber Node -->
    <node name="imu_publisher" pkg="ros" type="imu_publisher.py" output="screen" />

    <!-- LiDAR Subscriber Node -->
    <node name="lidar_publisher" pkg="ros" type="lidar_publisher.py" output="screen" />

    <!-- GPS Subscriber Node -->
    <node name="gps_publisher" pkg="ros" type="gps_publisher.py" output="screen" />
</launch>

